body{
    background-size: cover;
    background-image: image-set('https://tse4.mm.bing.net/th?id=OIP.AVe4FtPikbNW2OByuQpllQHaEK&pid=Api&P=0&h=180');
}
h2{
    color: aliceblue;
    font-size: 30px;
}